.desktop_nav {
  list-style: none;
  width: 100%;
  color: white;
  display: flex;
  justify-content: flex-end;
  margin: 0 1rem;
  & li {
    cursor: pointer;
  }
}

.menu_items {
  margin: 0.8rem;
  position: relative;
  padding: 0.3rem 0.5rem;
  &::after {
    content: "";
    position: absolute;
    border-bottom: solid 4px #1ba59c;
    bottom: 0;
    left: 0;
    width: 100%;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
  }
  &:hover {
    &::after {
      transform-origin: left;
      transform: scaleX(1);
    }
  }
}
